html {
    background-color: white;
    font-family: Questrial;
    font-size: 1.25em;
}

.text-align-h4 {
    text-align: center;
}

.header-bg-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    top: 60px;
}
.logo-mobile {
    z-index: 2;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    top: 30px;

}

.header-bg-container {
    position: relative;
    top: 40px;
    width: 100%;
    margin-bottom: 50px;

}

.logo-mobile2 {
    /* z-index: 2; */
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30px;
    /* top: 40px; */

}

.logo-over {
    display: none;
    
    }

.header-whisker {
    font-family: Cardo;
    font-size: 3em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-wine {
    font-family: Cardo;
    font-size: 3em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgba(0,0,0,.5);
    font-family: Questrial;
    text-align: center;
}
button {
    width: 80px;
    border: 1px solid rgba(0,0,0,.3);
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    font-family: Questrial;

}

#whatwedo {
    font-size: 1.5em;
    margin-bottom: 5px;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* font-family: Cardo; */
    font-weight: bold;
    height: auto;
    /* margin-bottom: 10px; */
    /* margin-top: 5px; */
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;

    background-color: black;
    position: fixed;
    top: 0px;
    left:0;
    z-index: 6;
}
 nav > a {
    color: white;

 }

.loadmore-style {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    width:100%;
}


a {
    text-decoration: none;
    color: black;
}

.header-bg {
    max-width: 100%;
    
    position: relative;
    top: -10px;
}

.wine-search-bar {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.wine-price-graph {
    border: 0px solid;
    background-color: darksalmon;
    width: 100%;
    min-height: 200px;
}

.price-graph-container {
    border: 0px solid;
    width: 100%;
    min-height: 200px;
    margin-top:10px;
}

.price-graph-chooser {
    display: flex;
    flex-direction: row;
}

.price-graph {
    background-color: lightgray;
    width: 100%;
    min-height: 200px;
}

.focusBottle {
    background-color: white;
    width:100vw;
    padding: 10px;
    cursor: pointer;
}

.focusBottle > p{
    margin:20px
  
}
.wallet-container {
    border: 0px solid;
    background-color: rgba(51,231,123,.8);
    width: auto;
    z-index: 400;
    position: fixed;
    right: 20px;
    bottom: 100px;
    border-radius: 5px;
   
}
.wallet-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

.wallet-img-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

.whiskey-listings-container {

    display: flex;
    flex-direction: column;

}

.bottle-listing {
    border: 0px solid;
    /* background-color: azure; */
    max-width: 500px;
    max-height: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin:20px;
    
}

.whiskey-listing-img {
    border: 0px solid;
    max-height: 175px;
    margin-left: 20px;
}

.whiskey-buy-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}


.wine-listings-container {

    display: flex;
    flex-direction: column;

}

.bottle-listing {
    border: 0px solid;
    /* background-color: azure; */
    max-width: 500px;
    max-height: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin:20px;
}

.wine-listing-img {
    border: 0px solid;
    max-height: 175px;
    margin-left: 20px;
}

.wine-buy-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}


.repeated-items {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    width: 100%;
}

.repeated-items hr {
    height: 1px;
    color: rgba(0,0,0,.5);
    background-color: rgba(0,0,0,.5);
    border: none;
    margin-bottom: 30px;
    margin-top: 30px;
}

.repeated-items2 {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.repeated-items2 hr {
    height: 1px;
    color: rgba(0,0,0,.5);
    background-color: rgba(0,0,0,.5);
    border: none;
    margin-bottom: 30px;
    margin-top: 30px;
}



.main-about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cardo;
    font-size: 2.5em
}



/* ======PORTFOLIO====== */

.portfolio-price {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.big-font {
    font-size: 1em;
}


.port-title {
    /* position: absolute; */
    font-size: 3em;
    font-family: Cardo;
    top: 25%;
    font-weight: bold;
    width: 99%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* ===== TOAST 1 */
#toast {
    visibility: hidden;
    min-width: 50px;
    max-width: 700px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 20px;

    position: fixed;
    z-index: 999;
    left: 0;right:0;
    bottom: 60px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #img{
	width: 50px;
	height: 50px;
    
    float: left;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    box-sizing: border-box;

    
    background-color: #111;
    color: #fff;
}
#toast #desc{

    
    color: #fff;
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}


/* ======TOAST 2 */


#toast2 {
    visibility: hidden;
    min-width: 50px;
    max-width: 700px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 20px;

    position: fixed;
    z-index: 999;
    left: 0;right:0;
    bottom: 60px;
    font-size: 17px;
    white-space: nowrap;

}
#toast2 #img{
	width: 50px;
	height: 50px;
    
    float: left;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    box-sizing: border-box;

    
    background-color: #111;
    color: #fff;
}
#toast2 #desc{

    
    color: #fff;
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

#toast2.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}



/* ========= TICKER CSS ========= */

.ticker-container {
    display: inline-flex;
    justify-content: space-around;
    position: fixed;
    right: 0;
    bottom: 0;
    /* padding:3px; */
    border:0px solid black;
    background-color: black;
    width:100%;
    overflow:hidden;
    white-space: nowrap;
    color: white;
  }
  .marquee{
    display: flex;
    justify-content: space-around;
    align-items: center;

  position:relative;
  width:100%;
  height: 50px;
  animation:scroll 60s linear infinite;
  scroll-behavior: smooth;
  padding:3px;
  }
  
  .marquee:hover {
      animation-play-state: paused
  }

  .marquee:nth-child(odd) > img {
    display: none;

  }
  
  .img1 {
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    width:auto;
    height:40px;
    background-color:#242424;
    margin:10px;
    float:left;
  }


  
  /* Make it move */
  @keyframes scroll { 
    100%   {  
          transform:translateX(100%);  
         }  
    100% {  
          transform:translateX(-100%);  
         }
 }


.arrow-up {
    margin-left: 10px;
}



.db-title {
    font-size: 3em;
    font-family: Cardo;
    font-weight: bold;

    /* -webkit-text-stroke: .2px white; */
    color: black;

}


/* ============== MODAL ================= */
.bothmodals {
    position: absolute;
    z-index: 99999999;

    position: fixed;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    border-radius: 20px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    
}
.modal {
    height: 500px;
    width: 500px;
    background-color: white;
    z-index: 999;
    position: absolute;
    text-align: center;
    align-items: center;
    border: solid black 2px;
    border-radius: 20px;
    /* display: flex;
    flex-direction: column; */

}

.modaltext {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.modal2 {
    height: 500px;
    width: 500px;
    z-index: 99;
    background-color: white;
    text-align: center;
    align-items: center;
    border: solid black 2px;
    border-radius: 20px;

}
#button21 {
    margin-bottom: 20px;
}

/* ==================================== */

@media only screen and (min-width: 480px) {
    .canvas-container {
        max-width: 95%;
    }
    .logo-mobile {
        display: none;
    }
    .logo-mobile2 {
        /* z-index: 2; */
        /* position: absolute; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 50px;
        /* top: 40px; */
    
    }
    .logo-over {
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 120px;
        max-width: 200px;
        top: 70px;
    
    }



    .header-bg-container {
        position: relative;
        top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        margin-bottom: 100px;
    }
    .repeater-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }
    .repeated-items {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
    }



/*
  We are using CSS transitions for when the enter and move events
  are triggered for the element that has the `repeated-item` class
*/
.repeated-items.ng-enter, .repeated-items.ng-move {
    transition: all 0.5s linear;
    opacity: 0;
  }
  
  /*
    `.ng-enter-active` and `.ng-move-active` are where the transition destination
    properties are set so that the animation knows what to animate
  */
  .repeated-items.ng-enter.ng-enter-active,
  .repeated-items.ng-move.ng-move-active {
    opacity: 1;
  }
  
  /*
    We are using CSS keyframe animations for when the `leave` event
    is triggered for the element that has the `repeated-item` class
  */
  .repeated-items.ng-leave {
    animation: 0.5s my_animation;
  }
  
  @keyframes my_animation {
    from { opacity: 1; }
    to   { opacity: 0; }
  }

    .repeated-items p {
        display: flex;
        flex-direction: row;
        /* width: 75%; */
        /* justify-content: flex-start; */
    }
    .repeated-items hr {
display: none;
    }
    .flex-wine {
        display: flex;
        align-items: center;
        justify-content: center
    }
    .repeater-main2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;

    }
    .repeated-items2 {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .repeated-items2 p {
        display: flex;
        flex-direction: row;
        /* width: 75%; */
        /* justify-content: flex-start; */
    }
    .repeated-items2 hr {
display: none;
    }



    .text-align-h4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .focusBottle {
        /* background-color: white; */
        width:55vw;
        /* padding: 10px; */
    }
    .buy-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px;
    }

    .buy-container * {
        margin-bottom: 20px;
    }

  }





  @media only screen and (min-width: 700px) {
    .canvas-container {
        max-width: 95%;
    }

    .logo-over {
        z-index: 2;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 120px;
        max-width: 400px;
        top: 70px;
    
    }
  }




/* ==================================== */
  /* @media only screen and (min-width: 750px) {
    .canvas-container {
        max-width: 95%;
    }
  } */