
html {
    background-color: white;
    font-family: Questrial;
}

.text-align-h4 {
    text-align: center;
}

.header-whisker {
    font-family: Cardo;
    font-size: 3em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-wine {
    font-family: Cardo;
    font-size: 3em;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid rgba(0,0,0,.5);
    font-family: Questrial;
    text-align: center;
}
button {
    width: 80px;
    border: 1px solid rgba(0,0,0,.3);
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    font-family: Questrial;

}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* font-family: Cardo; */
    font-weight: bold;
    height: 40px;
    /* margin-bottom: 10px; */
    /* margin-top: 5px; */
    width: 100%;
    background-color: rgba(255,255,255,.7);
    position: fixed;
    top: 0px;
    z-index: 1;
}




a {
    text-decoration: none;
    color: black;
}

.header-bg {
    width: 100%;
    position: relative;
    top: -10px;
}

.wine-search-bar {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wine-price-graph {
    border: 0px solid;
    background-color: darksalmon;
    width: 100%;
    min-height: 200px;
}

.price-graph-container {
    border: 0px solid;
    width: 100%;
    min-height: 200px;
    margin-top:10px;
}

.price-graph-chooser {
    display: flex;
    flex-direction: row;
}

.price-graph {
    background-color: lightgray;
    width: 100%;
    min-height: 200px;
}

.focusBottle {
    background-color: white;
    width:100vw;
    padding: 10px;
}

.focusBottle > p{
    margin:20px
  
}
.wallet-container {
    border: 0px solid;
    background-color: aquamarine;
    width: 100px;
    height: 50px;
    z-index: 400;
    position: fixed;
    right: 0;
    bottom: 0;
   
}

.whiskey-listings-container {

    display: flex;
    flex-direction: column;

}

.bottle-listing {
    border: 0px solid;
    /* background-color: azure; */
    max-width: 500px;
    max-height: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin:20px;
    
}

.whiskey-listing-img {
    border: 0px solid;
    max-height: 175px;
    margin-left: 20px;
}

.whiskey-buy-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}


.wine-listings-container {

    display: flex;
    flex-direction: column;

}

.bottle-listing {
    border: 0px solid;
    /* background-color: azure; */
    max-width: 500px;
    max-height: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin:20px;
}

.wine-listing-img {
    border: 0px solid;
    max-height: 175px;
    margin-left: 20px;
}

.wine-buy-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}


.repeated-items {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.repeated-items hr {
    height: 1px;
    color: rgba(0,0,0,.5);
    background-color: rgba(0,0,0,.5);
    border: none;
    margin-bottom: 30px;
    margin-top: 30px;
}
/* ===== TOAST 1 */
#toast {
    visibility: hidden;
    min-width: 50px;
    max-width: 700px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 20px;

    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}
#toast #img{
	width: 50px;
	height: 50px;
    
    float: left;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    box-sizing: border-box;

    
    background-color: #111;
    color: #fff;
}
#toast #desc{

    
    color: #fff;
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}


/* ======TOAST 2 */


#toast2 {
    visibility: hidden;
    min-width: 50px;
    max-width: 700px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 20px;

    position: fixed;
    z-index: 999;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;

}
#toast2 #img{
	width: 50px;
	height: 50px;
    
    float: left;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    box-sizing: border-box;

    
    background-color: #111;
    color: #fff;
}
#toast2 #desc{

    
    color: #fff;
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

#toast2.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}



/* ========= TICKER CSS ========= */

.ticker-container {
    position: fixed;
    right: 0;
    bottom: 0;
   
    padding:3px;
    border:0px solid black;
    width:100%;
    overflow:hidden;
  }
  .marquee{
    display:block;
  position:relative;
  width:auto;
  height: 50px;
  animation:scroll 90s linear infinite;
  scroll-behavior: smooth;
  padding:3px;
  }
  
  .marquee:hover {
      animation-play-state: paused
  }
  
  .img1 {
    width:auto;
    height:40px;
    background-color:#f6f6f6;
    margin:3px;
    float:left;
  }
  
  /* Make it move */
  @keyframes scroll { 
    0%   {  
          transform:translateX(100%);  
         }  
    100% {  
          transform:translateX(-100%);  
         }
 }




/* ==================================== */

@media only screen and (min-width: 480px) {
    .canvas-container {
        max-width: 95%;
    }

    .header-bg-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .repeater-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }
    .repeated-items {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
    }

    .repeated-items p {
        display: flex;
        flex-direction: row;
        /* width: 75%; */
        /* justify-content: flex-start; */
    }
    .repeated-items hr {
display: none;
    }
    .text-align-h4 {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .focusBottle {
        /* background-color: white; */
        width:55vw;
        /* padding: 10px; */
    }
    .buy-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        padding: 20px;
    }

    .buy-container * {
        margin-bottom: 20px;
    }

  }










/* ==================================== */
  @media only screen and (min-width: 750px) {
    .canvas-container {
        max-width: 95%;
    }
  }