
html {
    background-color: white;
}

nav {
    display: flex;
    justify-content: space-around;
}

.header-bg {
    width: 100%;
}

.wine-search-bar {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wine-price-graph {
    border: 0px solid;
    background-color: darksalmon;
    width: 100%;
    min-height: 200px;
}

.price-graph-container {
    border: 0px solid;
    width: 100%;
    min-height: 200px;
    margin-top:10px;
}

.price-graph-chooser {
    display: flex;
    flex-direction: row;
}

.price-graph {
    background-color: darksalmon;
    width: 100%;
    min-height: 200px;
}

.focusBottle {
	background-color: white;
}

.wallet-container {
    border: 0px solid;
    background-color: aquamarine;
    width: 100px;
    height: 50px;
    z-index: 400;
    position: fixed;
    right: 0;
    bottom: 0;
   
}

.whiskey-listings-container {

    display: flex;
    flex-direction: column;

}

.bottle-listing {
    border: 0px solid;
    /* background-color: azure; */
    max-width: 500px;
    max-height: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin:20px;
}

.whiskey-listing-img {
    border: 0px solid;
    max-height: 175px;
    margin-left: 20px;
}

.whiskey-buy-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}


.wine-listings-container {

    display: flex;
    flex-direction: column;

}

.bottle-listing {
    border: 0px solid;
    /* background-color: azure; */
    max-width: 500px;
    max-height: 200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin:20px;
}

.wine-listing-img {
    border: 0px solid;
    max-height: 175px;
    margin-left: 20px;
}

.wine-buy-container {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
}




