<section class="price-graph-container">
    <div class="price-graph">
        <div class="price-graph-chooser">

        </div>
        <p>PORTFOLIO</p>
    </div>
</section>

<div class="repeated-items" ng-click="$ctrl.select(item.bottle, $index)" ng-repeat="item in $ctrl.bought track by $index">
        <img class="whiskey-listing-img" src = "{{item.bottle.image}}">
        <focus-bottle bottle="$ctrl.bottle" ng-show="$ctrl.showArray[$index] == true"></focus-bottle>
        <p ng-show="$ctrl.showArray[$index] == false">{{item.bottle.name}}</p>
        <section class="buy-container">
            <p>Quantity: {{$ctrl.bought[$index].quantity}}</p>
            <button ng-click="$ctrl.buy(item.bottle, quantity)">BUY</button>
			<button ng-click="$ctrl.sell(item.bottle, quantity)">SELL</button>
            <input ng-model="quantity" type="number" placeholder="Quantity">
            <div id="toast"><div id="desc">{{$ctrl.sold}} {{$ctrl.bottle.name}} Sold from Cellar</div></div>
            <div id="toast2"><div id="desc">{{$ctrl.boughtQ}} {{$ctrl.bottle.name}} Added to Cellar</div></div>
        </div>
        <hr>
        </section>
</div>
<br>
<br>
<br>
<wallet wallet="$ctrl.wallet"></wallet>

		
<!-- <div ng-click="$ctrl.select(bottle, $index)" ng-repeat="item in $ctrl.bought track by $index">
    <focus-bottle bottle="$ctrl.bottle" ng-show="$ctrl.showArray[$index] == true"></focus-bottle>
    <p>{{item.bottle.id}}</p>
    <p>{{item.bottle.name}}</p>
    <p>Quantity: {{item.quantity}}</p>
    <p>{{item.bottle.price | currency}}</p>
    
	<button ng-click="$ctrl.buy(item.bottle, quantity)">BUY</button>
    <button ng-click="$ctrl.sell(item.bottle, quantity)">SELL</button>
    <input ng-model="quantity" type="number">
	
	<wallet wallet="$ctrl.wallet"></wallet>

</div> -->

<!-- <p ng-show="$ctrl.showArray[$index] == false">{{bottle.id}}</p> -->

