<section class="price-graph-container">


    <div class="price-graph">
        <div class="price-graph-chooser">

            


        </div>
        <p>PORTFOLIO</p>
    </div>
</section>


		
<div ng-click="$ctrl.select(bottle, $index)" ng-repeat="item in $ctrl.bought track by $index">
    <focus-bottle bottle="$ctrl.bottle" ng-show="$ctrl.showArray[$index] == true"></focus-bottle>
    <!-- <p ng-show="$ctrl.showArray[$index] == false">{{bottle.id}}</p> -->
    <p>{{item.bottle.id}}</p>
    <p>{{item.bottle.name}}</p>
    <p>Quantity: {{item.quantity}}</p>
    <p>{{item.bottle.price | currency}}</p>
    
	<button ng-click="$ctrl.buy(item.bottle, quantity)">BUY</button>
    <button ng-click="$ctrl.sell(item.bottle, quantity)">SELL</button>
    <input ng-model="quantity" type="number">
	
	<wallet wallet="$ctrl.wallet"></wallet>

</div>