<img class="header-bg" src="/Assets/bg.jpg" alt="">
<section class="wine-search-bar">
    <form ng-submit="$ctrl.search(keyword)"><input type="text" ng-model="keyword"> <button>search</button></form>
    <div><button>filter</button></div>
</section>


<section class="price-graph-container">


    <div class="price-graph">
        <div class="price-graph-chooser">

            <button>Wine</button>
            <button>Whiskey</button>

        </div>
        <p>CHARTTTTT</p>
    </div>
</section>


<div ng-click="$ctrl.select(bottle, $index)" ng-repeat="bottle in $ctrl.searchResults track by $index">
  <focus-bottle bottle="$ctrl.bottle" ng-show="$ctrl.showArray[$index] == true"></focus-bottle>
  <p ng-show="$ctrl.showArray[$index] == false">{{bottle.name}}</p>
  <button>BUY</button>
</div>
