<p class="header-whisker">Whiskey</p>
		
<!-- <section class="whiskey-listings-container">

    <div class="bottle-listing" ng-repeat = "bottle in $ctrl.wiskey">
        <p>{{bottle.name}}</p>
        <p>{{bottle.price | currency}}</p>

        <section class="whiskey-buy-container">

            <button ng-click="$ctrl.buy(bottle, quantity)">BUY</button>
            <input ng-model="quantity" type="number">

        </section>
        <img class="whiskey-listing-img" src = "{{bottle.image}}">

       
        
    </div>

</section> -->

<section class="repeater-main">
        <div class="repeated-items" ng-click="$ctrl.select(bottle, $index)"
            ng-repeat="bottle in $ctrl.wiskey track by $index">
            <img class="whiskey-listing-img" src="{{bottle.image}}">
            <focus-bottle bottle="$ctrl.bottle" ng-show="$ctrl.showArray[$index] == true"></focus-bottle>
            <p ng-show="$ctrl.showArray[$index] == false">{{bottle.name}}</p>
            <section class="buy-container">
                <button ng-click="$ctrl.buy(bottle, quantity)">BUY</button>
                <input ng-model="quantity" min="1" type="number" placeholder="Quantity">
                <div id="toast">
                    <div id="desc">{{$ctrl.quantity}} {{$ctrl.bottle.name}} Added to cellar</div>
                </div>
        </div>
        <hr>
    </section>








<button ng-click="$ctrl.load()">LOAD MORE</button>

<wallet wallet="$ctrl.wallet"></wallet>